@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

*{
   --colorbackground:  rgb(238,201,174);
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--colorbackground);
    /* background: radial-gradient(circle, rgba(238,201,174,1) 0%, rgba(247,130,71,1) 100%);  */
    display: flex;
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #ffffff97 ;
    margin: auto;
    width: 100%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb (0 0 0 / 30%);
    text-align: center;
}
.form__title{
    font-size: 2rem;
    margin-bottom: .5em;
    padding: 20px 0;
}
.form__paragraph{
    font-weight: 300;
}
.form__link{
    font-weight: 400;
    color: #000;
}
.form__container{
    margin-top: 1em;
    display: grid;
    gap: 1.5em;
    justify-content: center;
}
.form__group{
    position: relative;
    --color: #575757;
}
.form__input{
    width: 80%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    transform: translate3d(3px, 2px, 0px);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translate3d(18px, -15px, 10px) scale(.7);
    transform-origin: left top;
    color: rgb(139, 115, 100);
}
.form__label{
    color: var(--color);
    position: absolute;
    top: 0;
    left: 5px;
    transform: translate3d(16px, 10px, 10px);
    transition: transform .5s, color .3s;
    user-select: none;
    opacity: .5;
    font-family: 'Roboto', sans-serif;
    font-style: initial;
}
i{
    
    display: flex;
    align-items: center;
}

.noredes__label{
    display: inline-block;
    padding: 5px 5px;
}

.form__submit{
    color: #fff;
    background: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: .2s;
    
}
.form__submit:hover{
    background: var(--colorbackground);
    color: #181818;

}
.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 1px;
    background-color: var(--colorbackground);
    transform: translate3d(18px, -8px, 10px);
}
@media screen and(max-width: 500px) {
    .form{
        width: 90%;
    }
}
@media  screen and (min-width: 968px) {
    .form{
        width: 450px;
    }
}